wsdl/EnvioMail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="EnvioMail" targetNamespace="http://claro.com.pe/eai/messagingservices/mail/enviomail/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://claro.com.pe/eai/messagingservices/mail/enviomail/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/messagingservices/mail/enviomail/" xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claro.com.pe/eai/messagingservices/mail/enviomail/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://claro.com.pe/eai/servicecommons/" schemaLocation="http://172.19.96.228:7903/Messaging_Services/MAIL/Transaction/EnvioMail?SCHEMA%2FUtilities%2Fxsd%2FAudit"/>
      <xsd:element name="envioMail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="txId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ipApp" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="usrApp" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remitente" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="destinatario" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="asunto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="mensaje" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="flagHtml">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="envioMailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="envioMailRequest">
    <WL5G3N0:part element="WL5G3N1:envioMail" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="envioMailResponse">
    <WL5G3N0:part element="WL5G3N1:envioMailResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="EnvioMail">
    <WL5G3N0:operation name="envioMail">
      <WL5G3N0:input message="WL5G3N1:envioMailRequest"/>
      <WL5G3N0:output message="WL5G3N1:envioMailResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="EnvioMailSOAP" type="WL5G3N1:EnvioMail">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="envioMail">
      <WL5G3N2:operation soapAction="http://claro.com.pe/eai/messagingservices/mail/enviomail/envioMail"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="EnvioMail">
    <WL5G3N0:port binding="WL5G3N1:EnvioMailSOAP" name="EnvioMailSOAP">
      <WL5G3N2:address location="http://172.19.96.228:7903/Messaging_Services/MAIL/Transaction/EnvioMail"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>